.col-xs-12.col-sm-3.filter-box.height-inherit-on-large
  .title-row.margin-bottom-15.padding-top-15
    = title
  = form_tag(search_url, method: :post, remote: :true, id: "form-search", "data-ajax-target": "#target-form-result") do
    = hidden_field_tag :authenticity_token, form_authenticity_token
    .row
      .form-group.has-feedback.left
        = text_field_tag :q, nil, class: "form-control search-input", placeholder: search_placeholder
        %span.glyphicon.glyphicon-search.form-control-feedback.left
    .form-group
      - if choices.present?
        - choices.each_with_index do |choice, index|
          - value_checked = index == 0 ? true : false
          - if choice.kind_of?(Array)
            .filter-row
              = radio_button_tag :choice, choice[0][:id], value_checked, onclick: '$("#form-search").submit()'
              = label_tag "choice_#{choice[0][:id]}", "#{choice[0][:name]}<span>#{choice[0][:count]}</span>".html_safe
            .filter-row-group
              - choice[1].each_with_index do |c, index|
                .filter-row
                  = radio_button_tag :choice, c[:id], value_checked, onclick: '$("#form-search").submit()', id: "choice_nested_#{c[:id]}"
                  = label_tag "choice_nested_#{c[:id]}", "#{c[:name]}<span>#{c[:count]}</span>".html_safe
          - else
            .filter-row
              = radio_button_tag :choice, choice[:id], value_checked, onclick: '$("#form-search").submit()'
              = label_tag "choice_#{choice[:id]}", "#{choice[:name]}<span>#{choice[:count]}</span>".html_safe
    = hidden_field_tag :search_sort, "desc", value: "desc"
    = hidden_field_tag :page_no, 1, id: "page_no"