- if choice == "6" #todo temporary for non-active choice
  %thead
    %tr
      %th.sort-header(data-sort="#{sort}" data-el="#search_sort")
        = t("teams.member-name").html_safe
      %th
        = t("teams.auth").html_safe
      %th.text-center
        = t("teams.to-do")
  %tbody
    - @query_results.each do |r|
      %tr
        %td
          = link_to "<div class='color-initial font-medium'>#{r.company_name}</div> <div class='font-12 grey'>#{r.email.join(", ")}</div>".html_safe, team_path(r.id), class: 'hover'
        %td.align-middle
          Staff
        %td.text-center.align-middle
          = link_to t("teams.reactive"), reactive_team_path(r.id) ,"data-confirm": t("teams.reactive-confirm", name: r.contact_name), method: :patch, "data-title": "#{t("form.reactive-confirmation")}", "data-confirm-btn": "#{t("btn.confirm")}", "data-confirm-btn-class": "btn-red btn min-width-100"
- else
  %thead
    %tr
      %th.sort-header(data-sort="#{sort}" data-el="#search_sort")
        = t("teams.member-name").html_safe
      %th
        = t("teams.auth").html_safe
      %th.text-center
        = t("teams.number-of-clients").html_safe
      %th.text-center
        = t("teams.to-do")
  %tbody
    - @query_results.each do |r|
      %tr
        %td
          = link_to "<div class='color-initial font-medium'>#{r.company_name}</div> <div class='font-12 grey'>#{r.email.join(", ")}</div>".html_safe, team_path(r.id), class: 'hover'
        %td.align-middle
          Admin
        %td.align-middle.text-center
          = link_to t("teams.total-clients", total: r.id), team_path(r.id)
        %td.text-center.align-middle
          = link_to t("teams.to-do-total", total: r.id), team_path(r.id)