#popup-new-member.modal.fade.custom-modal
  .modal-dialog.modal-500
    .modal-content
      .modal-header
        .title-row
          = t("teams.invite-team-member")
      .modal-body.text-center
        = form_tag(teams_path, method: :post, remote: true, class: "custom-form", id: "form-create-member") do
          = hidden_field_tag :authenticity_token, form_authenticity_token
          = label_tag :email, t("teams.invite-team-member-msg"), class: "dark-grey opacity-1"
          = text_field_tag :email, nil, class: "form-control margin-auto width-250", required: true
      .modal-footer.margin-top-50
        %button.btn.btn-cancel.min-width-100(data-dismiss="modal")
          = t("btn.cancel")
        = button_tag t("btn.invite"), form: "form-create-member", class: "btn btn-green min-width-100", data: {disable_with: t("btn.process").html_safe}