.container.overflow-scroll
  .row.height-inherit-on-large
    = render partial: "filter_box", locals: {choices: @team_status_filter, search_url: search_teams_path, title: t("teams.index"), search_placeholder: t("teams.search-placeholder")}
    .col-xs-12.col-sm-9.padding-top-15
      .text-right.margin-bottom-15
        %button.btn.btn-blue(data-toggle="modal" data-target="#popup-new-member")
          = t("teams.new-btn")
      %table.table#target-form-result
        %thead
          %tr
            %th.sort-header(data-sort="desc" data-el="#search_sort")
              = t("teams.member-name").html_safe
            %th
              = t("teams.auth").html_safe
            %th.text-center
              = t("teams.number-of-clients").html_safe
            %th.text-center
              = t("teams.to-do")
        %tbody
          %tr
            %td.color-inherit
              = link_to "<div class='color-initial font-medium'>companyName</div> <div class='font-12 grey'>email@emai.com</div>".html_safe, team_path(1), class: 'hover'
            %td.align-middle
              Admin
            %td.align-middle.text-center
              = link_to t("teams.total-clients", total: 10), team_path(1)
            %td.align-middle.text-center
              = link_to t("teams.to-do-total", total: 9), team_path(1)
      = render partial: "helpers/pagination", locals: {first_page: 1, last_page: @last_page, total_data: @total_data, current_data: @current_data}

= render partial: "popup_new_member";
= render partial: "helpers/popup_confirm";