.container.container-box.bg-green
  .box
    .text-center
      = image_tag "icons/jurnal-partner-portal-icon.svg"
    .form-group.font-medium.margin-top-30.font-16
      = t("form.sign-in")
    = form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "custom-form"}) do |f|
      .row
        .col-xs-12
          .form-group
            = f.label :email, t("form.email-required")
            = f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control"
          .form-group
            = f.label :password
            = f.password_field :password, autocomplete: "off", class: "form-control"
          .text-center.margin-top-30
            = f.button t("form.sign-in"), class: 'btn btn-dark-green min-width-200 font-regular', type: "submit", data: {disable_with: t("btn.process").html_safe}
    %br
    .text-center.grey.font-12
      = t("form.sign-in-info").html_safe
    / = link_to "Forgot your password?", "https://my.jurnal.id/id/users/password/new"
