!!! Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans", :rel => "stylesheet", :type => "text/css"}
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width", :name => "viewport"}
    = stylesheet_link_tag "email/template"

  %body
    = image_tag t("email.ribbon-img"), class: 'ribbon'
    .container
      .padding-top-30
        = image_tag "icons/jurnal-icon.png", height: '60px'
        .pull-right.margin-top-15
          = link_to "#{image_tag t("email.fb-img")}".html_safe, t("email.fb-url"), class: 'sosmed-icon', target: "blank"
          = link_to "#{image_tag t("email.twitter-img")}".html_safe, t("email.twitter-url"), class: 'sosmed-icon', target: "blank"
          = link_to "#{image_tag t("email.ig-img")}".html_safe, t("email.ig-url"), class: 'sosmed-icon', target: "blank"
          = link_to "#{image_tag t("email.jurnalofficial-img")}".html_safe, t("email.jurnalofficial-url"), class: 'sosmed-icon', target: "blank"
      .margin-top-30
        .text-right
          = t("email.invite-member.title").html_safe
        %hr
        .text-center
          = image_tag "icons/jurnal-icon.png", height: '100px', class: "margin-top-15"
          .line-height-20.margin-top-15
            = t("email.invite-member.hello", email: @target_email).html_safe
            %br
            = t("email.invite-member.invite-to", user: @user, company: @company).html_safe
            %br
            %button.margin-top-50.font-regular.btn.btn-dark-green
              = t("btn.accept-invitation")
      .footer.margin-top-30.text-center
        %hr
        .font-12.margin-top-30
          = t("email.invite-member.click-to-unsub").html_safe
        %br
        %br
        .font-12.line-height-20
          = t("email.footer").html_safe