.col-xs-12.col-sm-3.filter-box.height-inherit-on-large
  .title-row.margin-bottom-15.padding-top-15
    = t("clients.index")
  .row
    .col-xs-12{onclick: "Turbolinks.visit('#{clients_path}');"}
      %span.glyphicon.glyphicon-menu-left.hover
      %span.title.margin-left-10.hover
        = client.company_name
  .row.margin-top-15
    .col-xs-2
      .custom-thumbnail
        = client.company_name.to_s.split(" ").map(&:first).join("").upcase
  .row.margin-top-15
    .col-xs-12.font-medium
      = client.contact_name
    .col-xs-12
      = client.phone
    .col-xs-12
      = client.email.join(", ")
    .col-xs-12
      Jasa Servis
    .col-xs-12
      = client.address
    .col-xs-12
      = client.description

  