- if choice == "4" #todo temporary for need-to-link choice
  %thead
    %tr
      %th.sort-header(data-sort="#{sort}" data-el="#search_sort")
        = t("form.jurnal-company-name").html_safe
      %th
  %tbody
    - @query_results.each do |r|
      %tr
        %td.align-middle
          = link_to "<div class='color-initial font-medium'>#{r.company_name}</div>".html_safe, client_path(r.id), class: 'hover'
        %td.text-right
          = form_for(r, url: render_sync_modal_client_path(r.id), method: :post, remote: :true, html: {class: "form-render-sync-modal", "data-ajax-target": "#target-render-sync-client-modal"}) do
            = hidden_field_tag :authenticity_token, form_authenticity_token
            = hidden_field_tag :id, r.id
            = button_tag t("clients.link-to-client"), class: "btn btn-light-blue"
- else
  %thead
    %tr
      %th.sort-header(data-sort="#{sort}" data-el="#search_sort")
        = t("form.company-name-full", required: "").html_safe
      %th.text-right
        = t("clients.to-do").html_safe
      %th
  %tbody
    - @query_results.each do |r|
      %tr
        %td
          = link_to "<div class='color-initial font-medium'>#{r.company_name}</div> <div class='font-12 grey'>#{r.email.join(", ")}</div>".html_safe, client_path(r.id), class: 'hover'
        %td.text-right.align-middle
          = link_to t("clients.to-do-total", total: r.id), client_path(r.id)
        %td.text-right
          //todo input validation if client have jurnal company
          %button.btn.btn-light-blue
            = t("clients.go-to-jurnal")