#popup-sync-jurnal.modal.fade.custom-modal(data-method="GET" data-action="#{sync_jurnal_clients_path}")
  .modal-dialog.modal-500
    .modal-content
      .modal-header
        .title-row
          = t("clients.sync-jurnal")
      .modal-body-loading
        .modal-body.text-center
          = t("clients.sync-jurnal-wait")
          %br
          %br
          %span.glyphicon.glyphicon-refresh.glyphicon-refresh-animate.font-50
        .modal-footer
          %button.btn.btn-grey.min-width-100(data-dismiss="modal")
            = t("btn.close")
      .modal-body-success.hidden
        .modal-body.text-center
          .message-success
          %br
          %br
          %span.glyphicon.glyphicon-refresh.font-50
        .modal-footer
          %button.btn.btn-green.min-width-100#see-list-btn(data-dismiss="modal" data-filter-value=filter_value)
            = t("clients.see-list-btn")
