#popup-sync-client.modal.fade.custom-modal
  .modal-dialog.modal-500
    .modal-content
      .modal-header
        .title-row
          = t("clients.link-to-client")
      .modal-body
        //todo sync ke company ini tar dpikirin url ny yg mana
        = form_for(@client, url: client_path(params[:id]), method: :patch, remote: :true, html: {class: "custom-form", id: "form-sync-client", "data-ajax-target": "#target-form-result"}) do
          = hidden_field_tag :authenticity_token, form_authenticity_token
          .row.flex.align-items-center.flex-column
            .col-xs-12.text-center
              .form-group
                = t("clients.will-be-linked", company: company_name).html_safe
            .col-xs-6
              .form-group.use-caret
                = select_tag :client_id, options_from_collection_for_select(@clients_list, :id, :contact_name), class: "form-control select2-option", required: true, "data-placeholder": t("form.select-client-placeholder"), include_blank: true
      .modal-footer
        %button.btn.btn-cancel.min-width-100(data-dismiss="modal")
          = t("btn.cancel")
        = button_tag t("btn.save"), form: "form-sync-client", class: "btn btn-green min-width-100", data: {disable_with: t("btn.process").html_safe}