#popup-new-lead.modal.fade.custom-modal
  .modal-dialog.modal-500
    .modal-content
      .modal-header
        .title-row
          = t("clients.create")
      .modal-body
        = form_tag(clients_path, method: :post, remote: :true, class: "custom-form", id: "form-create-client", "data-success-msg": t("clients.create-ok"), "data-error-msg": t("clients.create-error"), "data-ajax-target": "#target-form-result") do
          = hidden_field_tag :authenticity_token, form_authenticity_token
          .row
            .col-xs-12
              .form-group
                = label_tag :company_name, t("form.company-name", required: "*")
                = text_field_tag :company_name, nil, class: "form-control", required: true
              .form-group
                = label_tag :contact_name, t("form.contact-name")
                = text_field_tag :contact, nil, class: "form-control"
              .form-group
                = label_tag :phone_number, t("form.phone")
                = text_field_tag :phone, nil, class: "form-control", pattern: "\\+?[\\s\\d]+", title: t("form.phone-format")
              .form-group
                = label_tag :email_address, t("form.email")
                = select_tag :email, [], class: "form-control select2-tags", multiple: true, "data-minimum-results-for-search": "Infinity"
              .form-group.use-caret
                = label_tag :industry, t("form.industry", required: "*")
                = select_tag :industry_id, options_for_select(@industry_lists), class: "form-control select2-option", required: true
              .form-group
                = label_tag :address, t("form.address")
                = text_field_tag :address, nil, class: "form-control"
              .form-group
                = label_tag :descriptions, t("form.desc")
                = text_area_tag :descriptions, nil, class: "form-control"
      .modal-footer
        %button.btn.btn-cancel.min-width-100(data-dismiss="modal")
          = t("btn.cancel")
        = button_tag t("btn.create"), form: "form-create-client", class: "btn btn-green min-width-100", data: {disable_with: t("btn.process").html_safe}