.container.overflow-scroll
  .row.height-inherit-on-large
    = render partial: "helpers/filter_box", locals: {choices: @client_status_filter, search_url: search_clients_path, title: t("clients.index"), search_placeholder: t("form.search-placeholder")}
    .col-xs-12.col-sm-9.padding-top-15
      .text-right.margin-bottom-15
        %span#sync-jurnal-wrapper.tool-tip(data-toggle="tooltip" data-placement="bottom" title="#{t("clients.sync-jurnal-btn-tooltip")}")
          %button.btn.btn-blue#popup-sync-jurnal-btn
            %span.glyphicon.glyphicon-refresh.margin-right-5
            = t("clients.sync-jurnal")
        %button.btn.btn-blue(data-toggle="modal" data-target="#popup-new-lead")
          = t("clients.new-btn")
      %table.table#target-form-result
        %thead
          %tr
            %th.sort-header(data-sort="desc" data-el="#search_sort")
              = t("form.company-name-full", required: "").html_safe
            %th.text-right
              = t("clients.to-do").html_safe
            %th
        %tbody
          %tr
            %td.color-inherit
              = link_to "<div class='color-initial font-medium'>companyName</div> <div class='font-12 grey'>email@emai.com</div>".html_safe, client_path(1), class: 'hover'
            %td.text-right.align-middle
              = link_to t("clients.to-do-total", total: 2), client_path(1)
            %td.text-right
              %button.btn.btn-light-blue
                = t("clients.go-to-jurnal")
      = render partial: "helpers/pagination", locals: {first_page: 1, last_page: @last_page, total_data: @total_data, current_data: @current_data}

#target-render-sync-client-modal

= render partial: "popup_new_client";
= render partial: "popup_sync_jurnal", locals: {filter_value: @filter_value};