.container.overflow-scroll#scrolling
  .row.height-inherit-on-large
    = render partial: "client_details", locals: {client: @client}
    .col-xs-12.col-sm-9.padding-top-15
      .row.visible-xs.margin-top-20.margin-bottom-20.border-top-bottom-lighter-grey
      .row-header
        .row
          .col-xs-6.font-16.flex.align-items-center
            .dropdown.flex.margin-left-10
              .box-grey.padding-0-10
                = @client.status
              %button.margin-left-5.glyphicon.glyphicon-triangle-bottom.padding-0-3.dropdown-toggle.box-grey#change-lead-status(data-toggle="dropdown")
              %ul.dropdown-menu.dropdown-menu-right
                - @client_status.each do |x|
                  %li
                    = link_to x[1], client_path(params[:id], status_id: x[0]), remote: :true, method: :patch, class: "dropdown-item toggle-change-lead-status"
          .col-xs-6.text-right
            .dropdown.custom.pull-right
              #dropdown-action.dropdown-toggle(data-toggle="dropdown")
                %span.glyphicon.glyphicon-option-horizontal
              %ul.dropdown-menu.dropdown-menu-right
                %li.dropdown-item
                  %a(data-toggle="modal" data-target="#popup-update-lead")
                    = t("btn.update")
                %li.dropdown-item
                  = link_to t("btn.delete"), client_path(params[:id]) ,"data-confirm": t("clients.prompt-delete"), method: :delete, "data-title": "#{t("form.delete-confirmation")}", "data-confirm-btn": "#{t("btn.delete")}", "data-confirm-btn-class": "btn-red btn min-width-100"
      .row.margin-top-20
        .col-xs-12.title.padding-bottom-10
          = t("clients.companies")
          %a.pull-right.custom-plus-icon(target="_blank" href="https://my.jurnal.id")
            +
        .col-xs-12
          %table.table
            %tbody
              - @clients_company.each do |c|
                %tr
                  %td.text-left
                    = c.company_name
                  %td.text-right
                    %button.btn.btn-light-blue.margin-right-10
                      = t("clients.go-to-jurnal")
                    .dropdown.pull-right.margin-top-5
                      #dropdown-action.dropdown-toggle(data-toggle="dropdown")
                        %span.glyphicon.glyphicon-option-vertical.font-20.grey
                      %ul.dropdown-menu.dropdown-menu-right
                        %li.dropdown-item
                          = link_to t("clients.unlink-company"), unsync_jurnal_client_path(c.id, client_id: params[:id]) ,"data-confirm": t("clients.prompt-unlink"), method: :post, "data-title": "#{t("clients.unlink-company")}", "data-confirm-btn": "#{t("btn.confirm")}", class: "dropdown-menu-link grey", "data-confirm-btn-class": "btn-red btn min-width-100"
      .row.margin-top-50
        .col-xs-12.title.padding-bottom-10
          = t("activity.title")
          .pull-right.custom-plus-icon(data-toggle="modal" data-target="#popup-new-activity")
            +
        .col-xs-12
          %table.table
            %tbody.scroll-container
              = render partial: "activities/lists", locals: {lists: @query_results}
          .scroll-element.overflow-scroll(data-pagination-endpoint=activity_path data-pagination-pages="#{@total_pages}" data-current-page=1 colspan=3)
          .text-center.scroll-loading
            %span.glyphicon.glyphicon-repeat.glyphicon-refresh-animate

= render partial: "popup_update_client";
= render partial: "activities/popup_new_activity";
= render partial: "helpers/popup_confirm";

- content_for :scripts do
  = javascript_include_tag "activity-list", "data-turbolinks-track" => true