%thead
  %tr
    %th.sort-header(data-sort="#{sort}" data-el="#search_sort")
      = t("form.company-name-full", required: "").html_safe
    %th
      = t("form.email-full").html_safe
    %th
      = t("form.contact-full").html_safe
    %th
      = t("form.status")
%tbody
  - @query_results.each do |r|
    %tr
      %td
        = link_to r.company_name, lead_path(r.id), class: 'color-initial'
      %td
        = r.email.join(", ")
      %td
        = r.phone
      %td
        = r.status