#popup-update-lead.modal.fade.custom-modal
  .modal-dialog.modal-500
    .modal-content
      .modal-header
        .title-row
          = t("leads.update")
      .modal-body
        = form_for(@lead, url: lead_path(params[:id]), method: :patch, remote: :true, html: {class: "custom-form", id: "form-update-lead", "data-success-msg": t("leads.update-ok"), "data-error-msg": t("leads.update-error")}) do
          = hidden_field_tag :authenticity_token, form_authenticity_token
          .row
            .col-xs-12
              .form-group
                = label_tag :company_name, t("form.company-name", required: "*")
                = text_field_tag :company_name, nil, class: "form-control", required: true, value: @lead.company_name
              .form-group
                = label_tag :contact_name, t("form.contact-name")
                = text_field_tag :contact, nil, class: "form-control", value: @lead.contact_name
              .form-group
                = label_tag :phone_number, t("form.phone")
                = text_field_tag :phone, nil, class: "form-control", pattern: "\\+?[\\s\\d]+", title: t("form.phone-format"), value: @lead.phone
              .form-group
                = label_tag :email_address, t("form.email")
                = select_tag :email, options_for_select(@lead.email, @lead.email), class: "form-control select2-tags", multiple: true
              .form-group.use-caret
                = label_tag :industry, t("form.industry", required: "*")
                = select_tag :industry_id, options_for_select(@industry_lists, @industry_lists[2]), class: "form-control select2-option", required: true
              .form-group
                = label_tag :address, t("form.address")
                = text_field_tag :address, nil, class: "form-control", value: @lead.address
              .form-group
                = label_tag :descriptions, t("form.desc")
                = text_area_tag :descriptions, nil, class: "form-control", value: @lead.description
      .modal-footer
        %button.btn.btn-cancel.min-width-100(data-dismiss="modal")
          = t("btn.cancel")
        = button_tag t("btn.update"), form: "form-update-lead", class: "btn btn-green min-width-100", data: {disable_with: t("btn.process").html_safe}