.container.overflow-scroll
  .row.height-inherit-on-large
    = render partial: "helpers/filter_box", locals: {choices: @leads_status_filter, search_url: search_leads_path, title: t("leads.index"), search_placeholder: t("form.search-placeholder")}
    .col-xs-12.col-sm-9.padding-top-15
      .text-right.margin-bottom-15
        %button.btn.btn-blue(data-toggle="modal" data-target="#popup-new-lead")
          = t("leads.new-btn")
      %table.table#target-form-result
        %thead
          %tr
            %th.sort-header(data-sort="desc" data-el="#search_sort")
              = t("form.company-name-full", required: "").html_safe
            %th
              = t("form.email-full").html_safe
            %th
              = t("form.contact-full").html_safe
            %th
              = t("form.status")
        %tbody
          %tr
            %td
              = link_to "Shadow Shadow", lead_path(1), class: 'color-initial'
            %td
              hello
            %td
              hello
            %td
              hello
      = render partial: "helpers/pagination", locals: {first_page: 1, last_page: @last_page, total_data: @total_data, current_data: @current_data}

= render partial: "popup_new_lead";