.container.overflow-scroll#scrolling
  .row.height-inherit-on-large
    = render partial: "helpers/filter_box", locals: {choices: @leads_status_filter, search_url: search_leads_path, title: t("leads.index"), search_placeholder: t("form.search-placeholder")}
    .col-xs-12.col-sm-9.padding-top-15
      .row-header
        .row
          .col-xs-6.font-16.flex.align-items-center
            %span.glyphicon.glyphicon-menu-left.hover{onclick: "Turbolinks.visit('#{leads_path}');"}
            .title.margin-left-10.hover{onclick: "Turbolinks.visit('#{leads_path}');"}
              = @lead.company_name
            .dropdown.flex.margin-left-10
              .box-grey.padding-0-10
                = @lead.status
              %button.margin-left-5.glyphicon.glyphicon-triangle-bottom.padding-0-3.dropdown-toggle.box-grey#change-lead-status(data-toggle="dropdown")
              %ul.dropdown-menu.dropdown-menu-right
                - @leads_status.each do |x|
                  %li
                    = link_to x[1], lead_path(params[:id], leads_status_id: x[0]), remote: :true, method: :patch, class: "dropdown-item toggle-change-lead-status"
          .col-xs-6.text-right
            = link_to t("leads.convert-client"), convert_client_lead_path(id: @lead.id) ,"data-confirm": t("leads.prompt-convert-client"), method: :post, "data-title": "#{t("leads.convert-client")}", "data-confirm-btn": "#{t("btn.confirm")}", class: "btn btn-green", "data-confirm-btn-class": "btn-green btn min-width-100"
            .dropdown.custom.pull-right
              #dropdown-action.dropdown-toggle(data-toggle="dropdown")
                %span.glyphicon.glyphicon-option-horizontal
              %ul.dropdown-menu.dropdown-menu-right
                %li.dropdown-item
                  %a(data-toggle="modal" data-target="#popup-update-lead")
                    = t("btn.update")
                %li.dropdown-item
                  = link_to t("btn.delete"), lead_path(params[:id]) ,"data-confirm": t("leads.prompt-delete"), method: :delete, "data-title": "#{t("form.delete-confirmation")}", "data-confirm-btn": "#{t("btn.delete")}", "data-confirm-btn-class": "btn-red btn min-width-100"
        .row
          .col-xs-2
            .custom-thumbnail
              = @lead.company_name.to_s.split(" ").map(&:first).join("").upcase
          .col-xs-12.col-sm-2
            %div
              = @lead.contact_name
            %div
              = @lead.phone
            %div
              = @lead.email
            %div
              = @lead.industry
            %div
              = @lead.address
            %div
              = @lead.description
      .row.margin-top-50
        .col-xs-12.title.padding-bottom-10
          = t("activity.title")
          .pull-right.custom-plus-icon(data-toggle="modal" data-target="#popup-new-activity")
            +
        .col-xs-12
          %table.table
            %tbody.scroll-container
              / = render partial: "activities/lists", locals: {lists: @query_results}
          .scroll-element.overflow-scroll(data-pagination-endpoint=activity_path data-pagination-pages="#{@total_pages}" data-current-page=1 colspan=3)
          .text-center.scroll-loading
            %span.glyphicon.glyphicon-repeat.glyphicon-refresh-animate

= render partial: "popup_update_lead";
= render partial: "activities/popup_new_activity"
= render partial: "helpers/popup_confirm"

- content_for :scripts do
  = javascript_include_tag "activity-list", "data-turbolinks-track" => true