.pull-left.table-info
  = t("form.data-info", total: total_data, current: current_data).html_safe
.pull-right.table-pagination
  = link_to '<<', '#', class: "go-page", "data-value": first_page, "data-type": "static"
  = link_to '<', '#', class: "go-page", "data-value": -1
  Page
  %input#page-value.text-center{value: 1, "data-type": "static", "data-last-page": last_page}
  = t("form.page-info", total: last_page)
  = link_to '>', '#', class: "go-page", "data-value": 1
  = link_to '>>', '#', class: "go-page", "data-value": last_page, "data-type": "static"