.modal.fade.custom-modal#popup-confirm
  .modal-dialog.modal-500
    .modal-content
      .modal-header
        .title-row
      .modal-body
      .modal-footer
        %button.btn.btn-cancel.min-width-100(data-dismiss="modal")
          = t("btn.cancel")
        %button#btn-confirm(data-dismiss="modal")