.container.container-box.max-width-600
  .text-center
    = image_tag "icons/jurnal-partner-portal-icon.svg"
  .font-medium.font-26.text-center.margin-top-30.box-title.grey
    = t("form.admin-sign-in")
  .box-admin
    = form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "custom-form-inline"}) do |f|
      .row
        .col-xs-12
          .form-group
            = f.label :email, t("form.email")
            = f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control"
        .col-xs-12
          .form-group
            = f.label :password
            = f.password_field :password, autocomplete: "off", class: "form-control"
          .text-center.margin-top-30
            = f.button t("form.login"), class: 'btn btn-dark-green btn-block font-regular', type: "submit", data: {disable_with: t("btn.process").html_safe}