@import "bootstrap-sprockets";
@import "bootstrap";

@import "colors";
@import "typo";
@import "helpers";
@import "form";

html, body, .container{
  height: 100%;
  width: 100%;
  color: $dark-grey;
}

nav{
  background-color: $light-bg-grey;
  ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  li{
    display: inline;
    color: $grey;
    .title, .dropdown, a{
      display: inline-block;
    }
    .title{
      padding: 10px 20px;
    }
    .dropdown{
      padding-top: 14px;
      margin-right: 16px;
    }
    a{
      padding: 14px 16px;
      color: $grey;
      &:hover, &:focus, &.active{
        background-color: $lighter-grey;
        text-decoration: none;
        cursor: pointer;
      }
    }
  }
}