@import "bootstrap-sprockets";
@import "bootstrap";

@import "colors";
@import "typo";
@import "helpers";
@import "form";

html, body, .container{
  height: 100%;
  width: 100%;
  color: $dark-grey;
}

.container-box{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  &.bg-green{
    background-color: #5E7C84;
  }
}

.box{
  background-color: white;
  padding: 25px;
  width: 380px;
  border-radius: 3px;
}

.box-title{
  width: 100%;
  background-color: $light-bg-grey;
  height: 70px;
  line-height: 70px;
  border: 1px solid $lighter-grey;
  border-bottom: 0;
  border-radius: 3px;
}

.box-admin{
  border: 1px solid $lighter-grey;
  border-radius: 3px;
  padding: 25px;
  width: 100%;
}