.custom-form{
  label{
    font-weight: normal;
    font-size: 12px;
    opacity: 0.7;
    color: $grey;
  }
  .form-control{
    border-radius: 0;
    border-width: 0px 0px 1px 0px;
    box-shadow: none;
    border-color: $lighter-grey;
    &:active, &:focus{
      border-color: $blue-focus;
    }
  }
  .select2-selection__placeholder{
    color: $lightest-grey;
  }
  .select2-selection--multiple{
    border: 0 !important;
  }
  .select2-container{
    width: 100% !important;
    display: block;
    border-bottom: 1px solid $lighter-grey;
    &:active, &:focus{
      border-bottom: 1px solid $blue-focus;
    }
  }

  .use-caret .select2-container:after{
    content:"\e252";
    font-family:"Glyphicons Halflings";
    position: absolute;
    right: 2px;
    top: 5px; 
    font-size: 12px;
    color: $grey;
  }
}

.has-feedback.left{
  input{
    padding-left: 42.5px !important;
  }
}
.form-control::-webkit-input-placeholder, .form-control-feedback.left{
  left: 0 !important;
  color: $lightest-grey;
}

.custom-form-inline{
  .form-group{
    display: flex;
    align-items: center;
  }
  label{
    min-width: 100px;
    color: $grey;
  }
  .form-control{
    flex-grow: 1;
    margin-left: 15px;
  }
}