// override class

$nav-width: 70px;
$filter-width: 200px;

html, body, .container{
  height: 100%;
  color: $dark-grey;
}

.container{
  width: calc(100% - #{$nav-width});
  margin-left: $nav-width;
}

@include breakpoint(min_mobile){
  .height-inherit-on-large{
    height: inherit;
  }
}

.border-top-bottom-lighter-grey{
  border-top: 1px solid $lighter-grey;
  border-bottom: 1px solid $lighter-grey;
}

.filter-box{
  border-right: 1px solid $lighter-grey;
  .search-input{
    padding-right: 0;
    border: 0;
    box-shadow: none;
    border-radius: 0;
    background-color: $light-grey;
    height: 37px;
    line-height: 37px;
  }
  .filter-row{
    color: $grey;
    line-height: 23px;
    &:hover, input, label{
      cursor: pointer;
    }
    label{
      width: 100%;
      font-weight: normal;
      span{
        float: right;
      }
    }
    input{
      position: absolute;
      visibility: hidden;
      &:checked + label{
        color: $light-blue;
        font-family: $font-family-medium;
      }
    }
  }
  .filter-row-group{
    margin: 5px 0px 0 15px;
    .filter-row{
      color: $lightest-grey;
    }
  }
}

nav{
  position: absolute;
  width: $nav-width;
  height: 100%;
  background-color: $blue-jurnal;
  ul{
    padding: 17px;
    li{
      height: auto;
      padding-bottom: 15px;
      margin-bottom: 15px;
      img{
        max-width: 100%;
        height: auto;
      }
    }
  }
  .nav-border{
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }
  .nav-bottom{
    position: absolute;
    height: auto;
    width: 36px;
    bottom: 0;
  }
}

.box-grey{
  color: $grey;
  background-color: $lighter-grey;
  border-radius: 3px;
  border-color: transparent;
  font-size: 12px;
  height: 20px;
  line-height: 20px;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.glyphicon.dropdown-toggle{
  top: 0px;
}
.dropdown, [data-toggle="modal"]{
  &:hover{
    cursor: pointer;
  }
}
.dropdown.custom{
  .dropdown-toggle{
    height: 34px;
    width: 34px;  
    line-height: 40px;
    font-size: 24px;
    text-align: center;
    border: 1px solid $lightest-grey;  
    border-radius: 3px;
    color: $grey;
    margin-left: 10px;
  }
  a{
    color: $grey;
  }
}

.tool-tip{
  display: inline-block;
  button[disabled]{
    pointer-events: none;
  }
}

table thead{
  tr th{
    background-color: $blue-table;
    color: white;
    font-weight: normal;
    position: relative;
    &.sort-header:hover{
      cursor: pointer;
    }
    &[data-sort="desc"]:after{
      content:"\e252";
      font-family:"Glyphicons Halflings";
      margin-left: 10px;
      display: inline-block;
      transform: translateY(15%);
    }
    &[data-sort="asc"]:after{
      content:"\e253";
      font-family:"Glyphicons Halflings";
      margin-left: 10px;
      display: inline-block;
      transform: translateY(15%); 
    }
  }
}

.table-info, .table-pagination{
  font-size: 12px;
  color: $grey;
  margin-bottom: 15px;
}
.table-pagination{
  margin-right: 15px;
  input{
    height: 20px;
    width: 30px;
  }
}
.table-info{
  margin-left: 15px;
}

.title{
  font-size: 18px;
  color: $dark-grey;
  font-family: $font-family-regular;
}
.title-row{
  font-size: 18px;
  line-height: 34px;
  color: $dark-grey;
  font-family: $font-family-medium;
}

.custom-plus-icon{
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 30px;
  border: 1px solid $lightest-grey;
  border-radius: 3px;
  color: #009BDE;
  &:hover, &:focus{
    color: #009BDE;
    text-decoration: none;
  }
}

.custom-modal{
  .modal-header, .modal-footer{
    border: none;
  }
  .modal-content{
    border-radius: 4px;
    border-color: transparent;
    box-shadow: none;
  }
  .modal-body{
    padding: 15px 25px;
  }
}

.custom-thumbnail{
  margin: auto;
  line-height: 76px;
  text-align: center;
  height: 76px;
  width: 76px;
  font-size: 30px;
  border: 1px solid #979797;
  border-radius: 2px;
  color: #979797;
  background-color: #D8D8D8;
}

.upload-box{
  height: 90px;
  width: 90px;
  line-height: 90px;
  border: 1px solid $lighter-grey;
  color: $grey;
  text-align: center;
}

.status-color{
  height: 8px;
  width: 25px;
  border-radius: 3px;
  margin-left: auto;
  margin-bottom: 3px;
  &.yellow{
    background-color: #FFDEA0;
  }
  &.grey{
    background-color: $grey;
  }
}

.datepicker table tr td, .datepicker table tr th{
  border-radius: 0;
}

.go-page{
  padding: 0 3px;
}