@font-face{
  font-family: 'Roboto-Bold';
  src: font-url('Roboto-Bold.ttf');
};
@font-face{
  font-family: 'Roboto-Light';
  src: font-url('Roboto-Light.ttf');
};
@font-face{
  font-family: 'Roboto-Medium';
  src: font-url('Roboto-Medium.ttf');
};
@font-face{
  font-family: 'Roboto-Regular';
  src: font-url('Roboto-Regular.ttf');
};


$font-family-book   : 'Roboto-Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-medium : 'Roboto-Medium', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-bold   : 'Roboto-Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-regular : 'Roboto-Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;

body{
  font-family: $font-family-book;
}

.font-10{
  font-size: 10px;
}
.font-12{
  font-size: 12px;
}
.font-16{
  font-size: 16px;
}
.font-18{
  font-size: 18px;
}
.font-20{
  font-size: 20px;
}
.font-26{
  font-size: 26px;
}
.font-50{
  font-size: 50px;
}

.font-regular{
  font-family: $font-family-regular;
}
.font-medium{
  font-family: $font-family-medium;
}