- @lists.each do |i|
  %tr(data-activity-id="#{i[:id]}")
    %td{style: "width:25%;"}
      = i[:activity_due_date].try(:strftime, "%d/%m/%Y" )
    %td.activity-desc
      = i[:activity_description]
    %td
      .text-right.font-12.flex.justify-content-flex-end
        .margin-right-10
          .status-color.grey
          .grey
            = i[:member_name]
        .dropdown.pull-right
          #dropdown-action.dropdown-toggle(data-toggle="dropdown")
            %span.glyphicon.glyphicon-option-vertical.font-20.grey
          %ul.dropdown-menu.dropdown-menu-right
            %li.dropdown-item
              = form_for(i, url: render_update_modal_activity_path(i[:id]), method: :post, remote: :true, html: {class: "form-render-update-activity-modal", "data-ajax-target": "#target-render-update-activity-modal"}) do
                = hidden_field_tag :authenticity_token, form_authenticity_token
                = button_tag t("btn.update"), class: "dropdown-menu-link"
            %li.dropdown-item
              = link_to t("btn.delete"), activity_path(i[:id], lead_id: params[:id]) ,"data-confirm": t("activity.prompt-delete"), method: :delete, "data-title": "#{t("form.delete-confirmation")}", "data-confirm-btn": "#{t("btn.delete")}", class: "dropdown-menu-link", "data-confirm-btn-class": "btn-red btn min-width-100"

#target-render-update-activity-modal