#popup-new-activity.modal.fade.custom-modal
  .modal-dialog.modal-500
    .modal-content
      .modal-header
        .title-row
          = t("activity.create")
      .modal-body
        = form_tag(activities_path, method: :post, remote: :true, class: "custom-form", id: "form-create-activity", "data-ajax-target": "#target-form-result") do
          = hidden_field_tag :authenticity_token, form_authenticity_token
          = hidden_field_tag :lead_id, params[:id]
          .row
            .col-xs-6
              = label_tag :status
              .padding-left-5
                %label.switch
                  = check_box_tag :status, true, false, id: 'input-toggle'
                  %span.slider.round
                  %span.closed
                    Closed
                  %span.active
                    Open
            .col-xs-6#target-toggle
              = label_tag :due_date
              .form-group.has-feedback.left
                = text_field_tag :due_date, nil, class: "form-control", "data-provide": "datepicker", "data-date-autoclose": true, disabled: true
                %span.glyphicon.glyphicon-calendar.form-control-feedback.left
          .row.margin-top-10
            .col-xs-12
              = label_tag :description
              = text_area_tag :description, nil, class: "form-control"
      .modal-footer
        %button.btn.btn-cancel.min-width-100(data-dismiss="modal")
          = t("btn.cancel")
        = button_tag t("btn.create"), form: "form-create-activity", class: "btn btn-green min-width-100", data: {disable_with: t("btn.process").html_safe}