@font-face{
  font-family: 'Roboto-Light';
  src: font-url('Roboto-Light.ttf');
};
@font-face{
  font-family: 'Roboto-Medium';
  src: font-url('Roboto-Medium.ttf');
};


$font-family-book   : 'Roboto-Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-medium : 'Roboto-Medium', 'Helvetica Neue', Helvetica, Arial, sans-serif;

body{
  font-family: $font-family-book;
  color: #818285;
  margin: 0;
  margin-top: -15px;
  font-size: 14px;
}
.container{
  margin-left: 35px;
  margin-right: 35px;
}
.font-12{
  font-size: 12px;
}
.line-height-20{
  line-height: 20px;
}
.pull-right{
  float: right;
}
.pull-left{
  float: left;
}
.padding-top-30{
  padding-top: 30px;
}
.margin-top-15{
  margin-top: 15px;
}
.margin-top-30{
  margin-top: 30px;
}
.margin-top-50{
  margin-top: 50px;
}
.margin-right-10{
  margin-right: 10px;
}
.margin-left-10{
  margin-left: 10px;
}
.text-right{
  text-align: right;
}
.text-center{
  text-align: center;
}
.font-medium{
  font-family: $font-family-medium;
  font-weight: 500;
}
.btn{
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.btn-dark-green{
  background-color: #63A70A;
  color: #ffffff;
}
a{
  text-decoration: none;
  color: #7bbfe8;
}
.ribbon{
  float: right;
  height: 350px;
}
.sosmed-icon{
  img{
    height: 20px;
  }
}