!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title CrmPartner
    = csrf_meta_tags
    = csp_meta_tag
    = favicon_link_tag asset_path('icons/jurnal-icon.png')
    = stylesheet_link_tag    'application_admin', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application_admin', 'data-turbolinks-track': 'reload'
    = yield :scripts
    - if notice.present?
      .alert.alert-info.fade.in
        %a.close(data-dismiss="alert" aria-label="Close")
          &times;
        = notice
    - if alert.present?
      .alert.alert-danger.fade.in
        %a.close(data-dismiss="alert" aria-label="Close")
          &times;
        = alert
%body
  %nav
    %li
      .title.font-18.font-regular
        = t("admin.index-partner")
    %li
      = link_to t("partner.index"), admins_partners_path, class: "#{current_page?(admins_partners_path) ?  'active' : '' }"
    %li
      = link_to t("leads.index"), admins_leads_path, class: "#{current_page?(admins_leads_path) ?  'active' : '' }"
    %li
      = link_to t("admin.index"), admins_path, class: "#{current_page?(admins_path) ?  'active' : '' }"
    %li
      %span.dropdown.pull-right
        %span.dropdown-toggle(data-toggle="dropdown")
          .glyphicon.glyphicon-user.font-12.margin-right-5
          = current_admin.try(:name)
          .glyphicon.glyphicon-triangle-bottom.font-12.margin-left-5
        %ul.dropdown-menu.dropdown-menu-right
          %li.dropdown-item
            = link_to t("menu.logout"), destroy_admin_session_path, method: :delete, class: 'grey'
  = yield