!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title CrmPartner
    = csrf_meta_tags
    = csp_meta_tag
    = favicon_link_tag asset_path('icons/jurnal-icon.png')
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = yield :scripts
  %body
    %nav
      %ul
        %li.nav-border
          = image_tag "icons/jurnal-icon.png"
        %li
          = link_to (image_tag "https://s3-ap-southeast-1.amazonaws.com/jurnal-quickbook-s3/images/icon_apps.svg"), leads_path, title: t("leads.tooltip"), "data-toggle": "tooltip", "data-placement": "right"
        %li
          = link_to (image_tag "https://s3-ap-southeast-1.amazonaws.com/jurnal-quickbook-s3/images/icon_apps.svg"), clients_path, title: t("clients.tooltip"), "data-toggle": "tooltip", "data-placement": "right"
        .nav-bottom
          %li
            = link_to (image_tag "https://s3-ap-southeast-1.amazonaws.com/jurnal-quickbook-s3/images/icon_apps.svg"), teams_path, title: t("teams.tooltip"), "data-toggle": "tooltip", "data-placement": "right"
          %li
            .dropdown
              %a.dropdown-toggle(data-toggle="dropdown")
                = image_tag "https://s3-ap-southeast-1.amazonaws.com/jurnal-quickbook-s3/images/icon_apps.svg"
              %ul.dropdown-menu.dropdown-menu-right.custom
                %li.dropdown-item
                  %div
                    %span.status-profile
                    = current_member.name
                %li.dropdown-item
                  //todo if owner clickable, else just text
                  = link_to "PT. Jurnal", '#'
                %li.dropdown-item
                  = link_to t("menu.logout"), destroy_member_session_path, method: :delete
    = yield
