!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title CrmPartner
    = csrf_meta_tags
    = csp_meta_tag
    = favicon_link_tag asset_path('icons/jurnal-icon.png')
    = stylesheet_link_tag    'application_blank', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application_blank', 'data-turbolinks-track': 'reload'
    = yield :scripts
    - if notice.present?
      .alert.alert-info.fade.in
        %a.close(data-dismiss="alert" aria-label="Close")
          &times;
        = notice
    - if alert.present?
      .alert.alert-danger.fade.in
        %a.close(data-dismiss="alert" aria-label="Close")
          &times;
        = alert
%body
  = yield